@{
    ViewData["Title"] = "About";
}

<h2>
    <a name="logo">Logo</a></h2>
<p>
    <img src="~/images/logo.png" alt="Logo of FAV Rocks" />
</p>
<h2><a name="what">What is FAV Rocks?</a></h2>
<p>
    The first-half of the name is an abbreviation for &ldquo;Favicon Accessible Viewer&rdquo;. It is a highly-accessible image editor requiring no <a href="https://en.wikipedia.org/wiki/Client-side_scripting">client-side scripting</a>. Additionally, the application is designed to have a small network footprint. This translates into quick load-times!
</p>